<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bitter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED4A8D7D1D21B7E2009A3937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED4A8D911D21B7E3009A3937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED4A8D9C1D21B7E3009A3937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
